.HeroSec {
    width: 100svw;
    height: 60svh;
    position: relative;
    /* background-color: #000000; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#Hero {
    /* background-color: rgb(117, 52, 5); */
    height: 60svh;
    width: 100svw;
    z-index: 1;
}

.HeVid {
    /* position: absolute;
    left: 50%;
    top: 50%; */
    /* transform: translate(-50%, -30%); */
    object-fit: cover;
    border-radius: 50px;
    opacity: 0.92;
    filter: brightness(1.05) contrast(1.05);
    /* transition: transform 0.3s ease; */
    pointer-events: none;
    max-width: 45%;
    max-height: 25vh;
}


